<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find your match</title>
    <link rel="stylesheet" href="/css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>
    <%- include('layouts/header'); -%>

        <main class="match">
            <ul>
                <% if (users.length> 0) { %>
                    <% for (let user of users) { %>
                        <li>
                            <figure class="userfigure">
                                <a>
                                    <img class="profilepic" src="images/user3.jpeg">
                                </a>
                                <figcaption>
                                    <h2>
                                        <%= user.firstName + ' ' + user.lastName %>
                                    </h2>
                                    <h3>
                                        <%= user.age %>
                                    </h3>
                                    <p>
                                        <%= user.description %>
                                    </p>
                                </figcaption>
                            </figure>
                        </li>
                        
                            <form action="/dislike/<%= user._id %>" method="POST">
                                <input type="hidden" value="<%= user._id %>" name="dislikingID">
                                <button class="button" type="submit"><img class="buttonimg"
                                        src="images/closebtn.svg"></button>
                            </form>
                            <form action="/like/<%= user._id %>" method="POST">
                                <input type="hidden" value="<%= user._id %>" name="likingID">
                                <button class="button" type="submit"><img class="buttonimg"
                                        src="images/soccerbtn.svg"></button>
                            </form>
                        
                        <% } %>
                            <% } %>
            </ul>
        </main>
        <%- include('layouts/nav'); -%>
</body>

</html>