<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find your match</title>
    <link rel="stylesheet" href="/css/likelist.css">
    </link>
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
</head>

<body>

    <%- include('layouts/header'); -%>

        <main>
            <section>
                <h2>Matches</h2>
                <ul>
                    <li>
                        <% if (matchedUsers.length> 0) { %>
                            <% for (let matchedUser of matchedUsers) { %>
                                <figure>
                                    <img src="/images/<%=matchedUser.image%>" class="roundpic">
                                    <figcaption>
                                        <h4>
                                            <%= matchedUser.firstName %>
                                                <%= matchedUser.lastName %>
                                        </h4>
                                        <p>Hey, how are you</p>
                                    </figcaption>
                                </figure>
                                <% } %>
                                    <% } else {%>
                                        <figure>
                                            <h4>No Matches Yet....</h4>
                                        </figure>

                                        <% } %>
                    </li>
                </ul>
            </section>

            <section>
                <h2>Pending</h2>
                <ul>
                    <li>
                        <% if (pendingUsers.length> 0) { %>
                            <% for (let pendingUser of pendingUsers) { %>
                                <figure>
                                    <img src="/images/<%=pendingUser.image%>" class="roundpic">
                                    <figcaption>
                                        <h4>
                                            <%= pendingUser.firstName %>
                                                <%= pendingUser.lastName %>
                                        </h4>
                                        <form action="/reset/<%= pendingUser._id %>" method="POST">
                                            <button type="submit value="<%= pendingUser._id %>" name="resetID""><img class="buttonimg"
                                                src="images/closebtn.svg"></button>
                                        </form>
                                    </figcaption>
                                </figure>
                                <% } %>
                                    <% } else {%>
                                        <figure>
                                            <h4>No Pending Yet....</h4>

                                        </figure>
                                        <% } %>
                    </li>
                </ul>
            </section>
        </main>

        <%- include('layouts/nav'); -%>
</body>

</html>